.basket-container {
    color: $primary-font-color;
    margin: 0 9px;

    a {
        color: $primary-font-color;
        margin: 0;
        font-size: 8px;
        font-family: $semi-bold;
    }

    input {
        width: 95%;
        height: 30px;
        background-color: #f0eeee;
        -webkit-box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
        box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
        padding: 8px;
        color: $primary-font-color;
        font-family: $secondary-font;
        font-weight: 300;
        margin: 5px 0;
    }

    ::-webkit-input-placeholder {
        color: $input-font-color;
    }

}

.chosen-items {
    h1 {
        font-family: $semi-bold;
    }

    span {
        font-size: 6px;
        display: block;
        margin: 6px auto;
        font-family: $semi-bold;
    }

}

.item-name-variant {
    font-size: 6px;

    p {
        height: 100%;
        margin: 1px 3px;
        padding: 0;
        width: 100%;

        span {
            margin: 0;
        }

    }
}

.item-name {
    font-size: 10px;
    font-weight: 400;
    font-family: $semi-bold;
}

.item-variant,
.item-quantity {
    font-family: $secondary-font;
    font-size: 8px;
}

.item-variant {
    span {
        padding-left: 12px;
        font-size: 6px;
    }
}

.item-quantity {
    span {
        padding-left: 26px;
        font-size: 6px;
    }
}


.item-price-basket {
    text-transform: uppercase;
    font-weight: 400;
    font-family: $semi-bold;
    font-size: 12px;
    text-align: end;
}

.items {

    ol {
        counter-reset: item;
        list-style-type: none;

        li {
            display: grid;
            grid-template-columns: 5% 15% 40% 10% 20%;
            justify-content: space-between;
            align-items: flex-start;

            img {
                width: 90%;
            }

            a {
                margin: 0;
                padding: 0;
            }
        }

        li:before {
            content: counter(item) "  ";
            counter-increment: item;
            color: $primary-font-color;
            font-weight: 400;
            font-family: $semi-bold;
        }

        p {
            display: inline-flex;
        }
    }
}

.input-for-quantity {
    display: none;
}

.btn-edit {
    font-size: 8px;
    height: 16px;
    margin: 0;
}

.trash-icon {
    display: none;
}

.top-span {
    span {
        width: 100%;
        height: 13px;
        background-color: $dark-green;
        color: #ffffff;
        display: block;
        font-family: $semi-bold;
        font-size: 7px;
        font-weight: 400;
        padding-left: 5px;
        line-height: 13px;
    }
}

.address-data,
.invoice {
    color: $primary-font-color;
    font-family: $semi-bold;
    margin: 12px auto;

    h2 {
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 6px auto;
    }

    p {
        font-size: 8px;
        margin: 5px;
    }

    label:before {
        background-color: $primary-white;
    }
}

.big-span {
    font-size: 20px;
}

.final-price>div,
.final-price-with-code>div {
    width: 50%;
    padding-left: 20%;
}

.final-price,
.final-price-with-code {
    display: flex;
    justify-content: space-between;
    font-family: $semi-bold;
    font-weight: 400;
    color: $primary-font-color;
    text-transform: uppercase;
    margin: 10px auto;

    span {
        display: inline;
        margin: 0;
        padding: 0;
        line-height: 8px;
    }

    p {
        font-size: 8px;
        line-height: 8px;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-family: $primary-font;
        font-size: 32px;
        margin: 0;
        padding: 0;
        line-height: 32px;
    }
}

.old-price {
    display: block;
    position: relative;
    font-family: $primary-font;
    text-decoration: $red-font-color line-through;
}

.save-pln {
    color: $red-font-color;
}

/*Tablets */
@media (min-width: 768px) {

    .item-price-basket {
        font-size: 16px;

        span {
            margin: 10px auto;
            font-size: 8px;
        }
    }

    .item-name {
        font-size: 16px;
    }

    .item-variant,
    .item-quantity {
        font-size: 12px;
    }

    .item-variant {
        span {

            font-size: 10px;
        }
    }

    .item-quantity {
        span {
            padding-left: 32px;
            font-size: 10px;
        }
    }

    .btn-edit {
        height: 40px;
        font-size: 14px;
    }

    .final-price,
    .final-price-with-code {

        span {
            line-height: 12px;
        }

        p {
            font-size: 12px;
            line-height: 12px;
        }

        h1 {
            font-size: 40px;
            line-height: 40px;
        }
    }

}

@media (min-width:992px) {
    .basket-container {
        width: 1200px;
        margin: 0 auto;

        input {
            height: 42px;
            font-size: 22px;
        }

        ::-webkit-input-placeholder {
            font-size: 22px;
        }

        span {
            font-size: 10px;
        }

        a {
            font-size: 12px;
        }
    }

    .chosen-items {
        h1 {
            font-size: 24px;
        }

        a {
            font-size: 16px;
        }

        span {
            font-size: 12px;
            display: block;
            margin: 6px auto;
        }

    }

    .item-price-basket {

        span {
            line-height: 16px;
            margin: 6px 6px 0 6px;
            font-size: 16px;
        }

        p {
            font-size: 24px;
            line-height: 24px;
        }
    }

    .items {
        ol {
            li {
                margin: 24px auto;

                img {
                    width: 30%;
                }
            }
        }
    }

    .trash-icon {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        img {
            width: 30px !important;
            height: 30px;
        }
    }

    .item-name-variant p:last-child {
        display: none;
    }

    .btn-edit {
        display: none;
    }

    .final-price,
    .final-price-with-code {
        margin: 30px 0;
    }

    .adress-invoice {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        grid-template-rows: auto;
        grid-template-areas:
            "top-span top-span"
            "adress invoice"
            "btn btn";
    }

    .top-span {
        grid-area: top-span;
        // height: 30px;

        span {
            width: 100%;
            height: 30px;
            font-size: 14px;
            line-height: 30px;
        }
    }

    .address-data {
        grid-area: adress;

        h2 {
            height: 48px;
            margin-bottom: 0;
        }
    }

    .invoice {
        grid-area: invoice;

        div {
            height: 48px;
            ;
        }
    }

    .items {

        ol {
            li {
                display: grid;
                grid-template-columns: 5% 15% 25% 15% 10% 20%;
                justify-content: space-between;
                align-items: flex-start;
                grid-column-gap: 0;
            }
        }
    }

    .input-for-quantity {
        display: block;
        position: relative;
        height: 42px;
        padding: 0;

        img {
            width: 50%;
            height: auto;
        }

    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        position: relative;
        left: 0px;
        top: 0px;
        width: 78px;
        height: 42px;
        text-align: center;
        // padding-left: 12px;
        font-size: 14pt;
        background-color: #f0eeee;
        z-index: 1;
        margin: 0;
    }

    .spinner-button {
        left: 78px;
        position: absolute;
        cursor: pointer;
        background-color: $light-green;
        width: 50px;
        margin: 0px;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    #inc-button {
        top: 0px;

    }

    #dec-button {
        bottom: 0;
    }

    .btn {
        height: 42px;
    }

    .confirm-btn {
        width: 100%;
        grid-area: btn;
        text-align: center;

        button {
            width: 50%;
            margin: 12px auto;
        }

    }































}