.delivery-container {
    margin: 0 9px;

    h1 {
        font-size: 14px;
        font-family: $semi-bold;
    }

    span {
        font-family: $semi-bold;
        font-size: 6px;
        color: $primary-font-color;
        // margin: 6px auto;
    }

    a {
        font-family: $semi-bold;
        color: $primary-font-color;
        font-size: 8px;
    }

    img {
        display: block;
        height: 10px;
        width: auto;
        margin-right: 5px;
    }

    p {
        color: #363636;
        font-family: "Suprema - Semi Bold";
        font-size: 10px;
        width: 80%;
        height: 10px;
        line-height: 10px;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

.delivery-way-price,
.item-price-basket {
    display: inline;
    font-family: $semi-bold;
    text-align: end;

    p {
        font-size: 12px;
    }

    span {
        font-size: 8px;
        background-color: transparent;
        margin: 0 3px;
    }
}

.delivery-way {
    ul {

        li {
            display: grid;
            grid-template-columns: 10px auto 50% 20%;
            height: 48px;

            img {
                width: 48px;
                height: auto;
                margin: 0 auto;
            }
        }
    }

    label {
        margin: 0;
    }

    label::before {
        background-color: #ffffff;
        top: 8%;
        height: 14px;
        width: 14px;
    }
}

.deliver-way-option {
    p {
        font-family: $secondary-font;
        text-transform: none;
    }

}

img {
    width: 100%;
}



.items-selected {
    margin-top: 36px;

    h3 {
        font-family: $semi-bold;
        font-size: 12px;
    }

    input {
        width: 95%;
        height: 30px;
        background-color: #f0eeee;
        -webkit-box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
        box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
        padding: 8px;
        color: $primary-font-color;
        font-family: $secondary-font;
        font-weight: 300;
        margin: 5px 0;
    }

    ol {
        counter-reset: item;
        list-style-type: none;

        li {
            display: grid;
            grid-template-columns: 10px auto 50% 20%;
            height: 60px;
            margin: 10px auto;
            border: 1px solid black;

            img {
                width: 54px;
                height: auto;
                margin: 0 auto;
            }

            a {
                margin: 0;
                padding: 0;
            }
        }

        li:before {
            content: counter(item) "  ";
            counter-increment: item;
            font-weight: 400;
            color: $primary-font-color;
            font-family: $semi-bold;
            font-size: 18px;
        }

    }

    .promo-code-input {
        button {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .delivery-container {
        span {
            font-size: 12px;
        }

        a {
            font-size: 12px;
        }
    }

    .delivery-way {
        p {
            font-size: 16px;
        }

        span {
            font-size: 12px;
            line-height: 24px;
            height: 4vh;
        }

        img {
            width: 72px;
            height: 40px;
        }

        label {
            p {
                span {
                    font-size: 12px;
                }
            }
        }

        label::before {
            top: 10px;
        }
    }
}

@media (min-width: 992px) {

    .delivery-container {
        margin: 0;

        h1 {
            font-size: 24px;
        }

        a {
            font-size: 16px;
        }

        span {
            font-size: 12px;
            display: block;
            margin: 6px auto;
        }

    }

    .link-to-previous-page {
        margin: 24px 0;

        p {
            font-size: 16px;
        }
    }

    .items-selected {
        ol {
            li {
                display: grid;
                grid-template-columns: 30px 120px 600px auto;
                height: 80px;
            }
        }
    }

    .delivery-way {
        ul {
            li {
                display: grid;
                grid-template-columns: 30px 120px 600px auto;
                height: 80px;
                img {
                    width: auto;
                    height: 50px;
                    margin: 0 18px;
                }
            }

        }

        label::before {
            top: 10px;
            width: 20px;
            height: 20px;
        }
    }

    .item-name-variant,
    .delivery-way-option {
        height: auto;

        p {
            font-size: 16px;
            line-height: 16px;
        }
    }

    .delivery-way-price {
        border: 1px solid black;
    }

    .promo-code-input>div {
        width: 50%;
        display: inline-flex;
    }

    .promo-code-input {
        display: flex;
        justify-content: space-between;
        height: 48px;
        margin: 24px 0;

        input {
            border: 2px solid $light-green;
            width: 40%;
            height: 48px;
            margin: 0;
            background-color: #f0eeee;
            color: $primary-font-color;
            font-size: 22px;
            font-family: $secondary-font;
            padding: 8px;
        }

        input::placeholder {
            color: $input-font-color;
        }

        button {
            background-color: $light-green;
            width: 40%;
            color: $primary-white;
            font-size: 18px;
        }
    }
}