@media (max-width: 992px) {}

.faq-container {
    @include containerRulesForText;
    margin: 0 9px;
    display: block;
    height: auto;
}

.faq-btn {
    display: block;
    width: 100%;
    background-color: $light-green;
    height: 24px;
    margin: 10px auto;
    color: #ffffff;
    text-align: left;
    padding-left: 5px;
    font-family: $semi-bold;
}


.active {
    background-color: $dark-green;
}

.faq-par {
    display: none;
}

.shown {
    display: block;
}

@media (max-width: 992px) {

    .newsletter-container {
        display: none !important;
    }

}

@media (min-width: 992px) {
    .faq-container {
        height: auto;
        width: 1200px;
        margin: 20px auto;
        position: relative;
        display: block;
        z-index: 1000;

        h1 {
            font-size: 24px;
            margin-bottom: 12px;
        }
    }
    .rules-text{
        span{
            font-family: $semi-bold;
            font-size: 18px;
            margin-bottom: 22px;
            display: inline-block;
            a{
                text-transform: none;
                font-size: 18px;
                font-family: $semi-bold;
            }
        }
    }
}