.faq-container {
    @include containerRulesForText;
    margin: 0 9px;
}

.faq-btn {
    display: block;
    width: 100%;
    background-color: $light-green;
    height: 24px;
    margin: 10px auto;
    color: #ffffff;
    text-align: left;
    padding-left: 5px;
}


.active {
    background-color: $dark-green;
}

.faq-par {
    display: none;
}

.shown {
    display: block;
}