/* Section header */
.header-container {
    margin: 0 9px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "logo user-login"
        "search search";
    margin-bottom: 10px;
    position: relative;
}


.header-logo {
    grid-area: logo;
    display: flex;
    align-items: center;

    img {
        width: 40vw;
        height: auto;
        margin: 20px 0 30px 8px;
    }
}



.header-user-login,
.header-user-login-desktop,
.navigation-user {
    grid-area: user-login;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        display: inline;
        font-size: 10px;
        font-family: $primary-font;
        color: $primary-font-color;
        padding: 0;
        margin: 0;
    }

    a {
        @include flex(center, flex-end);
        margin-top: 3px;
    }
}

.header-user-login-desktop {
    display: none;
}

.user-icon-image {
    margin-right: 3px;
    margin-bottom: 3px;
    width: 14px;
    height: 12px;
}

button.hamburger-menu-icon {
    width: 24px;
    height: 16px;
    margin-top: 6px;
}

.header-search-form-desktop {
    display: none;
}

.header-search-form {
    width: 100%;
    grid-area: search;
    display: inline-flex;

    img {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    input {
        width: 66.66%;
        height: 40px;
        background-color: #f0eeee;
        box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
        padding: 8px;
        color: $input-font-color;
        font-family: $primary-font;
        font-weight: 300;

        &::placeholder {
            @include header-placeholder;
        }
    }

    button {
        width: 33.33%;
        height: 40px;
        background-color: $dark-green;
        @include flex(center, center);
        font-family: $secondary-font;
        font-size: 14px;
        color: #ffffff;
    }
}

/* Navigation*/
.navigation-desktop {
    display: none;
}

.navigation {
    display: block;
    position: absolute;
    background-color: #6cda00;
    width: 100vw;
    height: 100vh;
    transition: 0.5s transform ease-in-out;
    top: -100vh;
    left: 0;
    z-index: 2;
}

.hidden {
    display: none;
}

.hamburger-menu-icon-visible {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-right: 6px;
}


.navigation-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    height: 70px;
    font-family: "Suprema - Semi Bold";

    h3 {
        font-size: 10px;
        color: #ffffff;
        margin-right: 5px;
    }
}


.navigation-list {
    ul {
        margin: 0;
        padding: 0;
    }

    a {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        border-top: 1px solid #aeeb73;
        padding: 8px 10px;
    }

    button {
        border: 0;
        background-color: transparent;
    }


}

.navigation-list-plus {
    width: 8px;
    height: 8px;
    margin: auto 10px;
    transform: rotate(45deg);
}

.rotated {
    transform: rotate(90deg);
}

.navigation-list span,
a {
    color: #ffffff;
    font-family: "Suprema";
    font-size: 14px;
}

.navigation-list-products li {
    border: none;
    margin-left: 20px;
    padding: 4px;

    a {
        font-size: 10px;
    }
}

.navigation-list:nth-last-child(1) {
    border-bottom: 1px solid #aeeb73;
}

/*Section banner */
.section-banner-container {
    margin: 0 9px;
}

/* Section hidden on small devices */
.slider-top-product {
    display: none;
}

.section-banner-container {
    @include flex(center, center);

    a {
        padding: 0;
        margin: 0;
    }
}

.top-product {
    display: none;
}

/* Section products list */

.products-list-text {
    margin: 0 9px;

    p {
        font-family: "Suprema - Semi Bold";
        font-size: 14px;
        margin: 18px 6px;
    }
}

.products-list {
    margin: 0 9px;
    @include grid(repeat(2, 48%), repeat(3, 200px));
}

.products-list>div:last-child {
    display: none;
}

.products-list>div:nth-child(7) {
    display: none;
}

.products-list>div:nth-child(8) {
    display: none;
}

.products-list>div:nth-child(9) {
    display: none;
}

.products-list-desktop {
    display: none;
}

.item-box {
    height: 100%;
    width: 100%;
    font-size: 6px;
    text-align: center;
    border: 4px solid #f0eeee;
    background-color: #ffffff;

    a {
        margin: 0;
        padding: 0;
    }
}

.item-image {
    height: 83%;
    @include flex(center, center);
    margin: auto;

    img {
        height: 90%;
        width: 90%;
    }
}

.item-name-price {
    background-color: #f0eeee;
    height: 17%;
    width: 100%;
    color: $primary-font-color;
    margin: 2px 0 0 0;

    h3 {
        font-family: "Suprema - Semi Bold";
        font-size: 9px;
        margin: 0;
        padding: 3px 0 0 0;
        display: block;
    }

    p {
        font-family: $primary-font;
        font-size: 14px;
        text-align: end;
        margin-top: 2px;
        ;
    }

    span {
        font-size: 11px;
    }
}

.show-more {
    @include flex(center, center);
    flex-direction: column;
    margin: 30px auto;

    p {
        font-size: 18px;
        font-family: "Suprema - Semi Bold";
        color: $primary-font-color;
        margin: 0;
    }

    img {
        margin: 10px 0;
        width: 50px;
        height: 50px;
    }
}

/* Section blog */
.section-blog-container {
    height: 136px;
    margin: 0 9px;
    position: relative;

    img {
        height: 30px;
        width: 80px;
        margin: 10px 0 0 12px;
    }

    h3 {
        color: #ffffff;
        font-family: $primary-font;
        font-size: 15px;
        margin: 12px;
    }

    p {
        font-family: $secondary-font;
        font-weight: 300;
        color: $blog-font-color;
        font-size: 8px;
        text-align: end;
        margin-right: 4px;
    }
}

.section-blog-container::after {
    content: "";
    background: center/cover no-repeat url(../img/blog/blog_bg.png);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    filter: brightness(25%);
}

/* Section Newsletter */
.newsletter-container {
    width: 100%;
    height: 163px;
    background-color: $light-green;
    font-family: "Suprema";
    font-size: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    position: relative;

    button {
        margin-left: 13px;
        width: 90%;
        height: 20%;
        background-color: #ffffff;
        font-family: "Suprema - Semi Bold";
        font-weight: 400;
        font-size: 13px;
        color: $light-green;
        text-transform: uppercase;
    }

    p {
        font-size: 14px;
        font-family: "Suprema - Semi Bold";
        color: #ffffff;
        display: block;
        margin: 6px 0 0 9px;
        padding: 0;
        width: 100%;
    }

    input::placeholder {
        color: #ffffff;
    }
}

.newsletter-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.newsletter-wrapper>div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.newsletter-image {
    @include flex(center, center);

    img {
        width: 80%;
    }
}

.newsletter-input {
    width: 90%;
    height: 20%;
    box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: $newsletter-input-bgcol;
    font-family: $secondary-font;
    margin-top: 4px;
    margin-left: 13px;
    padding: 8px;
}

.newsletter-container-checkbox {
    width: 50%;
    height: 20px;
    margin-top: 5px;
    margin-left: 13px;

    label {
        width: 180%;
        align-items: center;
        position: relative;
        padding-left: 25px;
        font-size: 5px;
        font-family: $secondary-font;
    }

    label:before {
        border: 2px solid #59b201;
    }
}


input[type=checkbox] {
    display: none;
}

label {
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    margin-right: 15px;
    padding-left: 25px;
    position: relative;
}

label:before {
    background-color: $light-green;
    bottom: 1px;
    color: #ffffff;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
    border: 2px solid $light-green;
}


.checkbox-input:checked+label:before {
    content: "\2713";
    font-size: 10px;
    line-height: 15px;
}

/* Section footer */

.footer-container {
    margin-top: 10px;
    width: 100%;
    height: 42px;
    background: center/cover no-repeat url(../img/footer/płyta_głowna.png),
        #058325;
    @include flex(space-between, flex-end);
    color: #ffffff;

    span {
        display: inline-flex;
        align-items: center;
    }
}

.social-media {
    font-family: $primary-font;
    font-size: 6px;
    height: 100%;
    width: 50%;
    @include flex(flex-end, center);

    img {
        width: 28px;
        height: 28px;
    }

    a {
        margin: auto 5px;
    }
}

.copyright-text {
    width: 50%;
    opacity: 0.3;
    margin-left: 4px;
    margin-bottom: 4px;
    font-family: $secondary-font;
    font-size: 6px;
}

/* Small devices */
@media (max-width: 375px) {

    .item-name-price h3 {
        font-size: 8px;
    }

    .item-name-price p {
        font-size: 13px;
    }
}

/* Tablets */
@media (min-width: 768px) {

    /* Section header */
    .user-login-icon a {
        font-size: 18px;
    }

    .user-icon-image {
        margin-right: 3px;
        margin-top: 6px;
        width: 25px;
        height: 20px;
    }

    .hamburger-menu-icon {
        width: 50px;
        height: 30px;
    }

    /* Product list section */
    .products-list-text p {
        font-size: 24px;
    }

    .products-list {
        grid-template-rows: repeat(3, 400px);
    }

    .item-image {
        height: 83%;
    }

    .item-image img {
        height: 80%;
        width: 80%;
    }

    .item-name-price {
        height: 17%;

        h3 {
            font-size: 18px;
            margin: 0;
        }

        p {
            font-size: 35px;
            margin-top: -9px;
        }
    }

    .show-more {
        p {
            font-size: 38px;
        }

        a {
            margin: 0;
            padding: 0;
        }

        img {
            width: 100px;
            height: 100px;
        }

    }


    /* Section blog */
    .section-blog-container {
        height: 204px;

        img {
            height: 50px;
            width: 140px;
            margin: 10px 0 0 12px;
        }

        h3 {
            font-size: 30px;
        }

        p {
            font-size: 16px;
            text-align: end;
            margin-right: 10px;
        }
    }



    /* Section newsletter */
    .newsletter-container {
        height: 224px;

        p {
            font-size: 24px;
            margin-top: 10px;
        }

        button {
            margin-left: 13px;
            height: 20%;
            font-size: 23px;
        }

        img {
            width: 60%;
            height: auto;
            margin-bottom: 18px;
        }

    }

    .newsletter-container-checkbox label {
        font-size: 8px;
    }



    /* Section footer */
    .footer-container {
        height: 64px;
        align-items: flex-end;
    }

    .copyright-text {
        font-size: 16px;
        line-height: 4px;
        height: auto;

    }

    .social-media {
        font-size: 20px !important;
        margin-right: 8px;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

/* Desktop */


@media (min-width: 992px) {

    header,
    section,
    article,
    footer {
        width: 1200px;
        margin: 20px auto;
    }


    /* Section header */

    header {
        height: 160px;
    }


    .header-container {
        @include grid(repeat(2, 1fr), auto);

    }

    .header-logo {
        @include flex(flex-start, center);

        img {
            width: auto;
            height: 80px;
            margin: 0;
        }
    }

    .header-user-login-desktop>div {
        width: 100%;
        margin: 10px auto;

    }

    .header-user-login-desktop {
        @include flex(center, center);

        a {
            @include flex(flex-start, flex-end);
        }

        input {
            background-color: #f0eeee;
            box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
            padding: 8px;
            color: $input-font-color;
            font-family: $primary-font;
            font-weight: 300;
            height: 32px;
            width: 90px;
            margin: 0;
            padding: 0;
        }

        button {
            color: $primary-white;
            width: 200px;
            height: 32px;
            background-color: $light-green;
            @include flex(center, center);
            margin: auto 0;

            img {
                margin-right: 6px;
                width: 30px;
                height: auto;
            }
        }

        p {
            font-size: 16px;
            margin-left: 5px;
        }

    }

    .desktop-login-basket {
        @include flex(space-between, flex-end);
    }

    .price-basket {
        display: inline-flex;
        justify-content: flex-end;

        input {
            width: 160px;
            padding-left: 6px;
        }

        button {
            font-family: $semi-bold;
            font-size: 18px;
        }
    }

    .header-search-form-desktop {
        display: inline-flex;
        justify-content: flex-end;

        input {
            width: 66.6%;
            height: 40px;
            background-color: #f0eeee;
            box-shadow: inset 3px 4px 15px 3px rgba(0, 0, 0, 0.05);
            padding: 8px;
            color: $input-font-color;
            font-family: $primary-font;
            font-weight: 300;

            &::placeholder {
                @include header-placeholder;
            }
        }

        button {

            height: 40px;
            background-color: $dark-green;
            @include flex(center, center);
            font-family: $semi-bold;
            font-size: 16px;
            color: #ffffff;

            img {
                width: 25px;
                height: auto;
            }
        }
    }

    /* Navigation on desktop */

    .navigation-desktop {
        @include flex(center, center);
        width: 100%;
        position: absolute;
        left: 0;
        background: $light-green;
    }

    .main {
        position: relative;
        list-style: none;
        @include flex(space-between, center);
        width: 1200px;
        margin: auto 20px;
        z-index: 4;

        a {
            font-weight: 400;
            font-family: $secondary-font;
            color: $primary-white;
            text-transform: uppercase;
            font-size: 16px;
        }

        li {
            position: relative;
            width: 20%;
            padding: 15px 0;
            cursor: pointer;
            z-index: 5;
            text-align: center;
        }

    }

    li {
        margin: 0;
    }

    .drop {
        overflow: hidden;
        list-style: none;
        position: absolute;
        padding: 0;
        width: 100%;
        left: 0;
        top: 35px;
        z-index: 100;
        margin-top: 15px;

        a {
            font-size: 12px;
        }

        div {
            @include transform(translate(0, -150%));
            @include transition(all 0.5s 0.1s);
            position: relative;
            background-color: rgba(108, 218, 0, 0.7);
            margin-top: 13px;
            padding: 5px;
            height: 170px;
        }

        li {
            display: block;
            padding: 6px;
            width: 100%;
            height: 40px;
        }
    }


    @for $i from 1 through 4 {
        .main li:nth-child(#{$i}) {
            &:hover ul div {
                @include transform(translate(0, 10px));
            }
        }
    }

    /* Section banner */

    .slider-top-product {
        height: 500px;
        @include grid(repeat(2, 1fr), auto);
        margin-top: 30px;
        align-items: flex-end;
        justify-content: space-between;
    }

    /* Slider */


    #i1,
    #i2,
    #i3 {
        display: none !important;
    }

    .slider-container {
        margin: 0 auto;
        margin-top: 20px;
        position: relative;
        padding-bottom: 38%;
        user-select: none;
        width: 790px;
        height: 480px;
        z-index: 1;

        label::before {
            display: none;
        }
    }

    .slide_img {
        position: absolute;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
        }
    }


    .nav_slide {
        width: 100%;
        bottom: 12px;
        height: 11px;
        position: absolute;
        text-align: center;
        z-index: 99;
        cursor: default;
    }

    .dots {
        top: -5px;
        height: 12px;
        width: 12px;
        margin: 0 4px;
        position: relative;
        border-radius: 50%;
        display: inline-block;
        background-color: #303030;
        transition: .4s;
        padding: 0;
    }

    .dots:hover {
        cursor: pointer;
        background-color: #898888;
        transition: .25s
    }

    .slide_img {
        z-index: -1;
    }

    #i1:checked~#one,
    #i2:checked~#two,
    #i3:checked~#three,
    #i4:checked~#four,
    #i5:checked~#five {
        z-index: 9;
        animation: scroll 1s ease-in-out;
    }

    #i1:checked~.nav_slide #dot1,
    #i2:checked~.nav_slide #dot2,
    #i3:checked~.nav_slide #dot3,
    #i4:checked~.nav_slide #dot4,
    #i5:checked~.nav_slide #dot5 {
        background-color: #898888;
        ;
    }

    /*--              --*/


    .top-product {
        @include flex (center, center);
        width: 100%;
        height: 480px;
        position: relative;

        img {
            height: 100%;
            width: auto;
        }
    }

    .top-product-text {
        position: absolute;
        width: 200px !important;
        height: 40px !important;
        top: 40px;
        left: -7px;
    }

    .item-name-price {
        h3 {
            width: 100%;
            height: 50%;
            ;
        }
    }

    .top-product-price {
        width: 100%;
        height: 50%;
        @include flex(flex-end, flex-end);
    }

    .top-product-price-new {
        color: #e82222;
        margin: 0 6px;

        line-height: 35px;

        p {
            font-size: 35px !important;
        }

        span {
            font-size: 24px !important;
        }
    }

    .top-product-price-old {
        display: block;
        position: relative;
        font-size: 24px !important;
        line-height: 24px;
    }

    .top-product-price-old::before {
        border-bottom: 2px solid red;
        position: absolute;
        content: "";
        width: 100%;
        height: 40%;
    }

    /* Section products list */
    .products-list {
        @include grid(repeat(4, 25%), repeat(2, 380px));
    }

    .products-list>div:last-child {
        display: block;
    }

    .products-list>div:nth-child(7) {
        display: block;
    }

    .products-list>div:nth-child(8) {
        display: block;
    }

    .products-list>div:nth-child(9) {
        display: block;
    }

    .products-list-desktop {
        display: none;
        // @include grid(repeat(4, 25%), repeat(2, 380px));
    }

    .item-name-price p {
        font-size: 35px;
        line-height: 35px;
    }

    .show-more {
        p {
            font-size: 18px;
        }

        a {
            margin: 0;
            padding: 0;
        }

        img {
            width: 48px;
            height: auto;
        }

    }

    /* Section hidden on desktop */

    .header-user-login {
        display: none;
    }

    .header-search-form {
        display: none;
    }

    .section-banner-container {
        display: none !important;
    }



































}