* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-transform: uppercase;
    font-weight: 300;
    overflow-x: hidden;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: $primary-font-color;
}
ul li{
    list-style: none;
}

button, input{
    border:0;
    background-color: transparent;
}
button{
    text-transform: uppercase;
}
 .promo-code-input>div {
     width: 50%;
     display: inline-flex;
 }

 .promo-code-input {
     display: flex;
     justify-content: space-between;
     height: 48px;
     margin: 24px 0;

     input {
         border: 2px solid $light-green;
         width: 40%;
         height: 48px;
         margin: 0;
     }

     button {
         background-color: $light-green;
         width: 40%;
         color: $primary-white;
         font-size: 18px;
     }
 }

